<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/topnav.css" th:href="@{/css/topnav.css}" />
    <title>Редактировать информацию о лекторе</title>
</head>
<body>

<div class="table_style">
    <form method="post" th:object="${professor}" th:action="@{/save_professor}">
        <input type="hidden" id="professor_id" name="professor_id" th:field="*{id}" required readonly th:value="${professor.getId()}">

        <label for="professor_name">Имя:</label>
        <input type="text" id="professor_name" name="professor_name" th:field="*{name}" required th:value="${professor.getName()}"><br><br>

        <label for="professor_surname">Фамилия:</label>
        <input type="text" id="professor_surname" name="professor_surname" th:field="*{surname}" required th:value="${professor.getSurname()}"><br><br>

        <label for="professor_patronymic">Отчество:</label>
        <input type="text" id="professor_patronymic" name="professor_patronymic" th:field="*{patronymic}" th:value="${professor.getPatronymic()}"><br><br>

        <label for="professor_date">Дата рождения:</label>
        <input type="date" id="professor_date" name="professor_date" th:field="*{date}" required th:value="${professor.getDate()}"><br><br>

        <label for="university">Университет:</label>
        <select class="form-control" id="university" th:field="*{university.id}" required>
            <option th:value="${null}">Выберите университет</option>
            <option th:each="univ : ${universities}" th:value="${univ.id}" th:text="${univ.name}"></option>
        </select><br><br>

        <input id="submitButton" type="submit" value="Сохранить" class="btn btn-primary">
    </form>
</div>

</body>
</html>