<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/topnav.css" th:href="@{/css/topnav.css}" />
    <title>Домашняя страница</title>
</head>
<body>

<div class="topnav">
    <a class="active" href="index">Домашняя страница</a>
    <a href="schedule">Расписание</a>
    <a href="courses">Курсы</a>
    <a href="students">Студенты</a>
    <a href="professors">Лекторы</a>
    <a href="universities">Университеты</a>
</div>

<div>
    <h2>Учебный центр</h2>
    <p>TODO</p>
</div>

</body>
</html>